<?xml version="1.0"?>
<!-- Macro-only xacro: do not wrap in <robot> (included inside mechdog.urdf.xacro). -->
<xacro:macro xmlns:xacro="http://www.ros.org/wiki/xacro" name="mechdog_gazebo_extensions" params="prefix simulation:=false">
  <xacro:if value="${simulation}">
    <gazebo reference="${prefix}base_link">
      <material>Gazebo/Blue</material>
      <mu1>0.8</mu1>
      <mu2>0.8</mu2>
    </gazebo>
    <gazebo reference="${prefix}lidar_link">
      <material>Gazebo/Red</material>
    </gazebo>
  </xacro:if>
</xacro:macro>
